<footer>
    <ul>
        <li><a href="/" class="ignore">Introduction</a></li>
        <li><a href="/orders" class="ignore">Orders</a></li>
        <li><a href="http://bloomhealth.com">Bloom Health</a></li>
    </ul>
</footer>   

<script src="./library/jquery/dist/jquery.min.js"></script>
<script src="./library/bootstrap/dist/js/bootstrap.min.js"></script>
