<header>
    <div class="col-sm-4">
        <a href="/" class="ignore">
            <img src="./img/BloomHealth.png" />
        </a>
    </div>
    <div class="col-sm-8">
        <div class="pull-right" id="authUsername">
            {{#username}}
                <a href="/orders" class="ignore">{{.}}</a> | <a href="/logout" class="ignore">Logout</a>
            {{/username}}
        </div>
    </div>
</header>