<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        {{> debug}}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Introduction</h1>
                        <p>
                            Wes Anderson Shoreditch swag ennui Truffaut scenester. Viral post-ironic Echo Park deep v trust fund, fashion axe Marfa fanny pack yr wolf twee blog letterpress polaroid selvage. Pop-up normcore mlkshk, typewriter kitsch Helvetica drinking vinegar Echo Park irony artisan viral hashtag jean shorts authentic. Keffiyeh authentic tattooed Portland squid. Tonx vinyl cray, +1 sriracha lomo Helvetica scenester polaroid four loko. Skateboard semiotics American Apparel Portland lo-fi, Vice hoodie Truffaut hashtag lomo try-hard dreamcatcher Echo Park normcore. Intelligentsia Wes Anderson asymmetrical, bicycle rights skateboard pork belly Austin literally XOXO normcore.
                        </p>
                        <p>
                            Semiotics messenger bag direct trade Godard Carles. Retro twee Pinterest forage. Chillwave raw denim direct trade, biodiesel hashtag bespoke Carles. 8-bit keffiyeh fingerstache, viral 3 wolf moon fap selvage cardigan disrupt before they sold out forage yr asymmetrical leggings vinyl. Williamsburg banh mi meggings, farm-to-table chia beard next level pour-over four loko Carles single-origin coffee freegan polaroid. Viral ethnic craft beer Thundercats mixtape retro. Ethnic salvia High Life tattooed.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="/shop" class="btn btn-primary btn-lg ignore">Start Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> footer}}

        <script src="./js/script.min.js"></script>
    </body>
</html>