<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        {{> debug}}
        <section>
            <div class="container">
                {{> header}}
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Test Automation Engineer</h1>
                        <h2>Interview Project</h2>
                        <p>
                            We would like you to demonstrate your abilities by completing a small test automation project. Please make your project available on GitHub or in the form of a .zip file at least 3 work days prior to your in-person interview, and come prepared to give a walkthrough of your work.
                        </p>

                        <h3>Instructions</h3>
                        <p>
                            As part of your project please complete the tasks listed below. A start to the project can be <a href="https://github.com/allisonf/bloom_geb_spock_automation_project">found here</a>. This sample project provides a basic test automation framework using Groovy, Geb, and Spock. As stated above, when finished, provide us with a link to the GitHub repository or the .zip containing your project.
                        </p>

                        <h3>About the Project Web-App</h3>
                        <p>
                            The web-app for the test automation project is a simple shopping site that allows a user to:
                            <ul>
                                <li>Sign-in and start shopping.
                                    <ul>
                                        <li>No prior registration is needed, any properly formatted email (foo@bar.com) and password can be used.</li>
                                    </ul>
                                </li>
                                <li>Shop for books.</li>
                                <li>Checkout and submit payment.</li>
                                <li>Please do not submit any personal information, only test data should be used.</li>
                                <li>Complete purchase checkout.</li>
                                <li>Orders page that lists completed purchases.</li>
                            </ul>
                        </p>

                        <h3>To Do</h3>
                        <p>
                            <ul>
                                <li>Create automated tests for the following scenarios:
                                    <ul>
                                        <li>Login</li>
                                        <li>Add items to the shopping cart</li>
                                        <li>Remove items from the shopping cart</li>
                                        <li>Completing payment and purchase</li>
                                        <li>Verifying purchase was successfully completed</li>
                                    </ul>
                                </li>
                                <li>Create automated tests for any additional scenarios you feel are needed.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="/shop" class="btn btn-success btn-lg ignore">Start Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> footer}}

        <script src="./library/simplecart-js/simpleCart.min.js"></script>
        <script src="./js/script.min.js"></script>
        <script>
            simpleCart.empty();
        </script>
    </body>
</html>